body{ 
  background-color:     #DB97FF ;
}
h1{
  color:   #A100FF ;
  background-color:   #9FFBFB;
  text-align: center;
  font-size:3.25rem ;
  font-family: 'Satisfy', cursive;

} 



 .grid{
     display: flex; 
   flex-wrap: wrap;   
    justify-content: space-between; 
   } 
  /* .item{
width: 13rem;
background-color:#511281;
border-radius: 20px;
padding: 2rem;
font-size:2rem ;
font-family: 'Shrikhand', cursive;
margin:1rem 1rem 1rem 1rem;
 justify-content:space-between;
 }
 .grid img {
  border: 2px solid black;
 border-radius: 15%;
} */
.item{
  width: 13rem;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  
  margin:1rem 1rem 1rem 1rem;
  justify-content:space-between;
  }
  .item p{
    display: block;
  }
  .item ul{
    display: block;
  }
  .grid img {
    border: 2px solid black;
   border-radius: 15%;
  }